.card {
  border: 3px solid #0a0a0a;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}
.avatarCard {
  margin-bottom: 20px;
}
.name {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 15px;
}
.text {
  margin: 0;
}
.Online {
  color: green;
}
.Offline {
  color: red;
}
